/**----------------------
 *    TIPOGRAFÍA
 *------------------------**/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 :root{
     --font-global:18px;
     --font-family-parrafo:"Roboto";
     --font-weight-parrafo:400;
     --font-weight-titulo:700;
 }
